*{
    margin: 0;
    padding: 0;
}
.slider{
    width: 1000px;
    height: 800px;
    overflow-x: hidden;
}
.container{
    margin-top: 100px;
    width: 1000px;
    height: 100px;
    margin: 10px auto;
    display: flex;
    justify-content: right;
}
.middle{
    margin: 0 auto;
}
.navigation{
    display: flex;
}
.bar{
    height: 12px;
    width: 12px;
    margin: 6px;
    cursor: pointer;
    background-color: #6EA3CA;
    opacity: .8;
    border: 3px solid #6EA3CA;
    border-radius: 50%;
    transition: all .4s ease;
}
.bar:hover{
    opacity:1;
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.images{
    display: flex;
    width: 400%;
    height: 95%;
}
.slide{
    width: 25%;
    transition: all .6s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
.texts{
    margin-top: 10px;
    display: flex;
    width: 400%;
}
.texts p{
    font-size: 25px;
    color: black;
    width: 25%;
    transition: all .6s ease;
}
#r1:checked ~ .images .s1{
    margin-left: 0;
}
#r2:checked ~ .images .s1{
    margin-left: -25%;
}
#r3:checked ~ .images .s1{
    margin-left: -50%;
}
#r4:checked ~ .images .s1{
    margin-left: -75%;
}
#r1:checked ~ .images+.texts .t1{
    margin-left: 0;
}
#r2:checked ~ .images+.texts .t1{
    margin-left: -25%;
}
#r3:checked ~ .images+.texts .t1{
    margin-left: -50%;
}
#r4:checked ~ .images+.texts .t1{
    margin-left: -75%;
}
@media screen and (max-width:420px) {
    .container{
        max-width: 420px;
        height: auto;
        margin-top: -80px;
        justify-content: center;
        align-items: center;
    }
    .text{
        margin-top: 80px;
    }
    .images{
        height: 75%;
    }
    .slider{
        max-width: 380px;
        height: 450px;
    }
    .bar{
        height: 20px;
        width: 20px;
    }
}

